%fit-bg {
	background-repeat: no-repeat;
	background-size: 100%;
}

.left,
%left {
	float: left;
}

.right,
%right {
	float: right;
}

.uppercase,
%uppercase {
	text-transform: uppercase;
}

.block,
%block,
block {
	display: block;
	overflow: hidden;
}

%push-side {
	margin-left: $explanation-width;
}