@import "compass/utilities/color/contrast";

#container {
	margin-left: $nav-width; 
	max-width: 980px;
	padding: $gutter-width;
}

.explanation {
	margin-right: $gutter-width--small;
	float: left;
	width: 20%; 
}

hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: $strawberry;
}