@import "compass/utilities/color/contrast";

#container {
	margin-left: $nav-width; 
	max-width: 980px;
	padding: $gutter-width;
}

.explanation {
	background: white;
	display: block;
	float: left;
	padding-right: 2em;
	width: 30%;
}

hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: $strawberry;
}