$nav-width: 250px;

nav {
	background-color: $lime;
	height: 100%;
	position: fixed;
	width: $nav-width;
	ul {
		margin: 0;
		padding: 0;
	}
	a {
		@include transition-duration;
		border-bottom: 1px dashed white;
		padding: 1em;
		color: white;
		display: block;
		text-decoration: none;
		&:hover {
			background-color: $grass-green;
		}
	}
}