nav {
	background-color: $tangerine;
	height: 100%;
	position: fixed;
	width: $nav-width;
	ul {
		margin: 0;
		padding: 0;
	}
	.sub-nav {
		// @include transition-duration;
		text-indent: 3em;
		// height: 0;
		// display: none;
		&.clicked {
			height: auto;
			display: block;
		} 
	}
	a {
		@include transition-duration;
		border-bottom: 1px dashed white;
		padding: 1em;
		color: white;
		display: block;
		text-decoration: none;
		&:hover {
			background-color: $deep-orange;
		}
	}
}