@mixin fontface($font-family, $file-path, $weight: normal, $style: normal ) {
	@font-face {
		font-family: $font-family;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
					 url('#{$file-path}.woff') format('woff'),
					 url('#{$file-path}.ttf') format('truetype'),
					 url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $weight;
		font-style: $style;
	};
};

@include fontface("Grandma Bold", "../fonts/grandma_bold", normal, normal);

%grandma {
	font-family: 'Grandma Bold';
}

%lato {
	font-family: 'Lato';
}

%lato-light {
	@extend %lato;
	font-weight: 300;
}

%lato-italic {
	@extend %lato-light;
	font-style: italic;
}

%lato-bold {
	@extend %lato;
	font-weight: 900;
}

mark {
	color: $strawberry;
	background: none;
}

// Web Styles
h1 {
	@extend %grandma;
	color: $clay;
}

h2 {
	@extend %lato-bold;
	color: $strawberry;
	text-transform: uppercase;
}

p {
	@extend %lato-light;
}

// Print Styles
.print-title {
	border-bottom: 1px dashed;
	font-size: 36px;
}

.print-subtitle {
	@extend %lato-bold;
	@extend uppercase;
	color: $strawberry;
	font-size: 18px;
}

.print-copy {
	@extend %lato-light;
	font-size: 14px;
}

.print-caption {
	@extend %lato-italic;
	color: $grass-green;
	display: inline-block;
	max-width: 230px;
}





