// Edible Arrangements Color Variables
$brick-red: #89231a;
$strawberry: #be1e2d;
$deep-orange: #b94126;
$tangerine: #f16521;
$gold: #eeaf21;
$sunshine: #ffdd17;
$grass-green: #4a893f;
$lime: #8cc63e;
$grape-juice: #452e8b;
$funky-purple: #7e3f98;
$clay: #3b2314;

// Color Array List
$color-list: (
    brick-red: #89231a,
    strawberry: #be1e2d,
    deep-orange: #b94126,
    tangerine: #f16521,
    gold: #eeaf21,
    sunshine: #ffdd17,
    grass-green: #4a893f,
    lime: #8cc63e,
    grape-juice: #452e8b,
    funky-purple: #7e3f98,
    clay: #3b2314,
);

// Utilities
$contrasted-lightness-threshold: 50%;