/*
Syntax error: ".logo_measure--detail" failed to @extend "%fit-bg".
              The selector "%fit-bg" was not found.
              Use "@extend %fit-bg !optional" if the extend should be able to fail.
        on line 21 of /Users/Una/Sites/Edible-Styleguide/sass/sections/_logos.scss

Backtrace:
/Users/Una/Sites/Edible-Styleguide/sass/sections/_logos.scss:21
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/util/subset_map.rb:106:in `each'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/util/subset_map.rb:106:in `each_value'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.rc.1/lib/sass/engine.rb:277:in `render'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:132:in `timed'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:145:in `block in compile'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/logger.rb:46:in `red'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:144:in `compile'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:107:in `each'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:107:in `block in run'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:132:in `timed'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/compiler.rb:106:in `run'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/Una/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/project_watcher.rb:95:in `sass_modified'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/project_watcher.rb:83:in `sass_callback'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/watch.rb:14:in `call'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/project_watcher.rb:60:in `each'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.7/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/Una/.rvm/gems/ruby-2.0.0-p195/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: \".logo_measure--detail\" failed to @extend \"%fit-bg\".\A               The selector \"%fit-bg\" was not found.\A               Use \"@extend %fit-bg !optional\" if the extend should be able to fail.\A         on line 21 of /Users/Una/Sites/Edible-Styleguide/sass/sections/_logos.scss"; }
