//Color Boxes
.color-box {
	display: inline-block;
	margin: 30px 0 0 0;
	padding: 20px;
	width: 100%;
}

@each $color, $bgcolor in $color-list {
	.color-box.#{$color} {
		@include contrasted($bgcolor);
		@if $color == white {
			outline: 1px solid $strawberry;
		}
	}
}

#colors {
	@extend %block;
}