.intro {
	height: 800px;
}

.logo-drawing {
	position: absolute;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 40%;
	top: 100px;
	
	&.logo--full-color {
		opacity: 0;
		@include animation(fadein 3s 5s);
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
}