%logo {
	height: 454px; 
	width: 467px;
}

%logo_measure{
	@extend %block;
	margin: 0 auto;
	max-width: 700px;
	padding-bottom: 75%;
}

%logo_nono {
	@extend %block;
	@extend %logo;
	@extend %fit-bg;
	@extend %wrong;
}
%logo_photo {
	@extend %block;
	background-repeat: no-repeat;
	@extend %correct;	
}

.logo--full-color {
	@extend %logo;
	background-image: image-url('logos/edible-logo-fullcolor.svg');
}

.logo_measure--detail {
	@extend %logo_measure;
	@extend %fit-bg;
	background-image: image-url('logos/logo_measure--detail.svg');
}

.logo_measure--redbg {
	@extend %logo_measure;
	@extend %fit-bg;
	background-image: image-url('logos/logo_measure--redbg.svg');
	width: 55%;
}

.logo_measure--whitebg {
	@extend %logo_measure;
	@extend %fit-bg;
	background-image: image-url('logos/logo_measure--whitebg.svg');
	width: 55%;
}

.logo_measure--distance {
	@extend %logo_measure;
	@extend %fit-bg;
	background-image: image-url('logos/logo_measure--distance.svg');
	width: 45%;
}

%twoup {
	width: 225px;
	height: 250px;
}

%twoup-logos {
	width: 250px;
	height: 250px;
	background-size: 100%;
	background-repeat: no-repeat; 
	float: left;
	margin: 10px;
}

%logo_nono--2up {
	@extend %logo_nono;
	@extend %twoup;
}

.logo_nono--color1 {
	@extend %logo_nono--2up;
	background-image: image-url('logos/misuse/nono-1.svg');
}

.logo_nono--color2 {
	@extend %logo_nono--2up;
	background-image: image-url('logos/misuse/nono-2.svg');
}

.logo_nono--position1 {
	@extend %logo_nono--2up;
	background-image: image-url('logos/misuse/nono-3.svg');
}

.logo_nono--position2 {
	@extend %logo_nono--2up;
	background-image: image-url('logos/misuse/nono-4.svg');
}

.logo_nono--borderradius {
	@extend %logo_nono--2up;
	background-image: image-url('logos/misuse/nono-7.svg');
}

.logo_nono--short {
	@extend .logo_nono--borderradius;
	height: 190px;
	background-position: 50%;
}

.logo_photo--full {
	@extend %logo_photo;
	height: 500px;
	background-image: image-url('photo/photo2.jpg');
}

.logo_photo--whitebg {
	@extend %logo_photo;
	height: 320px;
	background-image: image-url('photo/photo1.jpg');
}

.logo--fullcolor {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--fullcolor.svg');
}
.logo--fullcolor--reversed {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--fullcolor--reversed.svg');
}
.logo--6color {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--6color.svg');
}
.logo--6color--reversed {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--6color--reversed.svg');
}
.logo--2color {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--2color.svg');
}
.logo--2color--reversed {
	@extend %twoup-logos;
	background-image: image-url('logos/logo--2color--reversed.svg');
}
.logo--2colorbw {
	@extend %twoup-logos;
	@extend %push-side;
	background-image: image-url('logos/logo--2colorbw.svg');
}
.logo--2colorbw--reversed {
	@extend %twoup-logos;
	@extend %push-side;
	background-image: image-url('logos/logo--2colorbw--reversed.svg');
}