.pattern {
	@extend %logo_measure;
	background-image: image-url('pattern-web.png');
	padding-bottom: 40%;
}
.icons--example {
	@extend %logo_measure;
	background-image: image-url('icons.svg');
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}

%characters {
	@extend %push-side;
	background-repeat: no-repeat;
	background-size: 80%;
	padding-bottom: 30%;
	width: 40%;
}

.character--jeff1 {
	@extend %characters;	
	background-image: image-url('characters/jeff.svg');
	margin-top: -3%; 
}

.character--jeff2 {
	@extend %characters;	
	background-image: image-url('characters/jeff--flight.svg');
	float: right;
	margin-top: -53%;
}

.character--mark1 {
	@extend %characters;	
	background-image: image-url('characters/mark.svg');
}