.pattern {
	@extend %logo_measure;
	background-image: image-url('pattern-web.png');
	padding-bottom: 40%;
}
.icons--example {
	@extend %logo_measure;
	background-image: image-url('icons.svg');
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}